.product__container {
  align-self: center;
  margin: 4rem 0;
  width: 100%;
  display: grid;
  justify-content: center;
}
.ewaste__container {
  width: 90vw;
  display: grid;
  grid-template-columns: 4rem 3fr 4fr 4rem;
  grid-row: auto;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}
.title__container {
  grid-column: 2/4;
  grid-row: 1/2;
  color: #5b5b5b;
  border-bottom: 1px solid #000000;
  padding-bottom: 0.5rem;
}
.page__title {
  color: #000000;
  font-size: var(--heading-text);
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #9e9e9e;
  letter-spacing: 1px;
}
.management__container {
  grid-column: 2/4;
}
.management__heading {
  padding: 1rem 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* margin: 0.5rem 0; */
  text-shadow: 2px 2px 4px #bdbdbda1;
}
.management__container p {
  font-size: var(--text);
  line-height: 1.8;
  text-align: justify;
}
.ewaste__recycling__container {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 2rem;
}
.ewaste__recycling__heading {
  grid-column: 1/3;
  text-align: left;
  padding: 1rem 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* margin: 0.5rem 0; */
  text-shadow: 2px 2px 4px #bdbdbda1;
}
.ewaste__recycling__container p {
  font-size: var(--text);
  line-height: 1.8;
  text-align: justify;
}
.ewaste__recycling__benifit{
  display: flex;
  align-items: flex-start;
}

.ewaste__recycling__benifit:last-child {
  grid-column: 1/2;
}
.ewaste__recycling__benifit:nth-child(4) {
  grid-column: 1/2;
  grid-row: 2/3;  
}

.benifit__subheading {
  color: #000000;
  font-size: var(--subtitle-text);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}
.ewaste_recycling_image {
  /* float: right; */
  grid-column: 2/3;
  grid-row:2/3;
  align-self: flex-start;
}
.recycle__logo{
  justify-self: center;
  height: 80%;
  width: 80%;
}

.dos__and__donots__container {
  grid-column: 2/4;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
}
.dos__container {
  grid-column: 1/2;
  display: inline-block;
}
.dos__title {
  grid-column: 1/2;
  text-align: center;
  padding: 1rem 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* margin: 0.5rem 0; */
  text-shadow: 2px 2px 4px #bdbdbda1;
}
.donts__container {
  grid-column: 2/4;
  justify-content: flex-end;
}
.dont__title {
  grid-column: 2/3;
  text-align: center;
  padding: 1rem 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* margin: 0.5rem 0; */
  text-shadow: 2px 2px 4px #bdbdbda1;
}
.dos__item{
  display: flex;
  align-items: flex-start;

}
.dos__item span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00be72;
  padding: 5px;
  border-radius: 50%;
}
.dos__icon{
  color: #ffffff;
}
.dos__item p {
  margin-left: 0.5rem;
  font-size: var(--text);
  line-height: 1.8;
  text-align: justify;
}
.donts__container> .dos__item span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 3px;
  border-radius: 50%;
}
.dont__icon path{
  color: #ffffff;
}
.benifit__icon{
  background-color: #e2e2e2;
  padding: 5px;
  color:#005ccc;
  margin-right: 0.5rem;
  box-shadow: 2px 2px 1px 1px rgb(173, 173, 173), inset 4px 4px 10px 5px #c0c0c0;
  border-radius: 2px;
}
/* --------------- Ewest Management plan ------------------- */
.ewaste__management__plan {
  grid-column: 1/4;
}
.management__plan__heading {
  grid-column: 1/4;
  text-align: center;
  padding: 1rem 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* margin: 0.5rem 0; */
  text-shadow: 2px 2px 4px #bdbdbda1;
}
.ewaste__management__plan p {
  font-size: var(--text);
  line-height: 1.8;
  text-align: justify;
}

.where__and__how {
  grid-column: 1/4;
}
.where__how__title {
  color: #000000;
  padding: 1rem 0;
  font-size: var(--subtitle-text);
  text-transform: uppercase;
  font-weight: 600;
}
.where__and__how p {
  font-size: var(--text);
  line-height: 1.8;
  text-align: justify;
}

/* ------------- table style ---------------- */
.ewaste__collection__centers {
  grid-column: 2/4;
}
.collectionCenters__table{
  width: 100%;
  max-width: 100%;
}
.collectionCenters__table thead{
  position: sticky;
  background-color: #000000;
  color: #e2e2e2;
  top:0
}

.collection__table__title {
  font-size: var(--subtitle-text);
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem;
  text-shadow: 2px 2px 4px #d1d1d1a1;
  text-align: center;
}

.HeadCells{
  padding: 0.2rem;
  font-size: 16px;
}
.collectionCenters__table thead .HeadCells:nth-child(2){
  width: 100px;
}
.collectionCenters__table thead .HeadCells:nth-child(4){
  width: 100px;
}
.TableCell{
  font-size: 14px;
}

/* ---------- media Query -------------- */
@media only screen and (max-width:550px){
  .ewaste__container{
    width: 100vw;
    display: grid;
    grid-template-columns: 2rem 3fr 4fr 2rem;
    row-gap: 2rem;
    align-items:center;
    justify-content: center;
    justify-self: center;
  }
  .title__container{
    grid-column: 2/4;
  }
  .ewaste__recycling__benifit{
    grid-column: 1/3;
  }
  .ewaste__recycling__benifit:last-child {
    grid-column: 1/3;
  }
  .ewaste__recycling__benifit:nth-child(4) {
    grid-column: 1/3;
    grid-row: 2/3;  
  }
  .ewaste_recycling_image {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .ewaste__recycling__benifit:nth-child(5) {
    clear: both;
  }
  .ewaste__management__plan {
    grid-column: 1/3;
  }
  .where__and__how {
    grid-column: 1/3;
  }
  .collectionCenters__table{
    display: block;
    overflow: scroll;
  }
  .dos__container {
    grid-column: 1/4;
    display: inline-block;
  }
  .donts__container {
    grid-column: 1/4;
    display: inline-block;
  }
 
}

@media only screen and (min-width: 551px) and (max-width:768px){
  .ewaste__container{
    width: 100vw;
    display: grid;
    grid-template-columns: 2rem 3fr 4fr 2rem;
    row-gap: 2rem;
    align-items:center;
    justify-content: center;
    justify-self: center;
  }
  .title__container{
    grid-column: 2/4;
  }
  .ewaste__recycling__benifit{
    grid-column: 1/3;
  }
  .ewaste__recycling__benifit:last-child {
    grid-column: 1/3;
  }
  .ewaste__recycling__benifit:nth-child(4) {
    grid-column: 1/3;
    grid-row: 2/3;  
  }
  .ewaste_recycling_image {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .recycle__logo{
    float: none;
    
  }
  .ewaste__recycling__benifit:nth-child(5) {
    clear: both;
  }
  .ewaste__management__plan {
    grid-column: 1/3;
  }
  .where__and__how {
    grid-column: 1/3;
  }
  .collectionCenters__table{
    width: 100%;
    max-width: 100vw;
    display: block;
    overflow: scroll;
  }
  .ewaste__management__plan{
    grid-column: 1/4;
  }
}