/* .Whatsapp__container{
    display: grid;
    margin-left: 12%;
    position: relative;
} */
   
.whatsapp_float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    /* font-size: 40px; */
    box-shadow: 2px 2px 2px rgba(17, 85, 0, 0.719);
    z-index: 100;
}
.whatsapp__icon{
    margin-top: 16px;
}

@media screen and (max-width: 767px) {
    .whatsapp__icon {
        margin-top: 15px;
    }

    .whatsapp_float {
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 10px;
        font-size: 30px;
    }
}