.cards__section{
    display: flex;
    width: 90vw;
    justify-self: center;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    margin: 4rem 0;
}
.cards__row{
    flex: 1;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 2px 2px 20px 1px #b6b6b6;
    cursor: pointer;
    height: 400px;
    width: 25%
}
.card__img__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    transition: all 0.5s ease;
    /* padding: 1rem; */
}
.card__img__container:hover{
    background-color: #ffe7e7;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.card__img{
   transition: all 0.5s ease;
   height: 300px;
   width: 80%;
}
.card__img:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}
.show{
    position:absolute;
    display: none;
}
.card__img:hover +.show{
    position: absolute;
    display: flex;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 22px;
    font-weight: 500;
}

.card__btn__container{
    background: #5b5b5b;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.card__btn__container:hover{
    background: #E31E25;
    transition: all 0.3s ease ;
}
.card__button{
    color: #fff;
    overflow-x: hidden;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
}


/* --------------- Media Query ------------------------  */

@media only screen and (max-width: 550px){
    /* .cards__section{
        flex-wrap: wrap;
    } */
    .cards__row{
        padding: 0;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }
    .card__container{
        margin-bottom: 2rem;
        width:80%;
        height: 400px;
    }
    .card__img{
        height: 300px;
        width: 80%;
    }
    .card__btn__container{
        height: 50px;
    }
}
@media only screen and (min-width: 551px ) and (max-width:768px) {
    .cards__row{
        width: 100%;
    }
    .card__container{
        margin: 1rem;
        width:40%;
        height: 300px;
        width: 40%;
    }
    .card__img__container{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100%;
        position: relative;
        transition: all 0.5s ease;
    }
    .card__img{
        height: 200px;
    }
}

@media only screen and (min-width: 769px) and (max-width:1024px) {
    .cards__row{
        width: 100%;
    }
    .card__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        box-shadow: 2px 2px 20px 1px #b6b6b6;
        cursor: pointer;
        width: 30%;
        height: 350px;
    }
    .card__img{
        height: 250px
    }
    
}
