.product__container{
    align-self: center;
    margin: 4rem 0;
    width: 100%;
    display: grid;
    justify-content: center;
}
.product__heading{
    font-size: var(--heading-text);
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
    color: #000000;
    text-shadow: 2px 2px 2px #c0c0c0;
    font-weight: 600;
    margin-bottom: 2rem;
}
.fiber__laser__container{
    width: 90vw;
    display: grid;
    grid-template-columns: 4rem 3fr 4fr 4rem;
    grid-template-rows: auto;
    gap: 1rem; 
    align-items: flex-start;
    justify-content: center;
}
.fiber__laser__img__container{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    row-gap: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    /* border-radius: 8px;
    box-shadow: 2px 2px 2px 6px rgba(0, 0, 0, 0.3); */
}
.fiber__laser__img{
    grid-row: 1/2;
    justify-self: center;
}
.button__container{
    grid-row: 2/3;
    justify-self: center;
    margin: 2rem 0;
}

.fiber__model__heading{
    font-size: var(--title-text);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #000000;
    font-weight: 600;
}
.fiber__applicable__products{
    grid-column: 1/3;
    grid-row:3/4;
    margin-top: 2rem;
    color: #000000;
}
.fiber__applicable__products li{
    line-height: 1.8rem;
    font-weight: 400;
}
.fiber__laser__info__container{
    grid-column: 3/4;
    grid-row: 2/3;
    color: #000000;
}

.fiber__laser__model__heading{
    font-size: var(--title-text);
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.fiber__laser__model >li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.8rem;
}
.fiber__laser__model >li > b{
    font-weight: 500;
}
.fiber__app__text{
    font-weight: 500;
}
.fiber__features__container{
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    flex-wrap: wrap;
    color: #000000;
    padding:1rem 0
}
.fiber__features__container li{
    line-height: 1.8rem;
    /* font-weight: 500; */
}
.features__heading{
    font-size: var(--title-text);
    text-transform: uppercase;
}

/* ------------------- Media Query ------------------ */

@media only screen and (max-width:550px){
    .fiber__laser__container{
        width: 100vw;
    }
    .product__heading{
        display: none;
    }
    .fiber__laser__img__container{
        grid-column: 2/4;
        grid-row: 2/3;
        justify-self: center;
    }
    .fiber__model__heading{
        text-align: left;
    }
    .sample__container{
        grid-column: 1/3;
    }
    .fiber__sample{
        width: 300px;
        justify-self: center;
    }
    .sample__container > img:hover{
        transform: scale(1.2);
        transition: all 0.5s ease-out;
       
    }
    .fiber__applicable__products{
        grid-column: 1/3;
        grid-row:3/4;
        color: #000000;
    }
    .fiber__laser__info__container{
        grid-column: 1/5;
        grid-row: 3/4;
        justify-self: flex-start;
        margin: 0 2rem;
    }
    .fiber__features__container{
        grid-column: 1/5;
        grid-row: 4/5;
        margin: 0 2rem;
    }
}

@media only screen and (min-width:551px) and (max-width:768px){
    .fiber__laser__container{
        width: 90vw;
    }
    .fiber__laser__img__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column: 2/4;
        grid-row: 2/3;
    
    }
    .fiber__laser__img{
        justify-self: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .button__container{
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 2rem 0;
    }
    .sample__container{
        grid-column: 1/3;
    }
    .fiber__applicable__products{
        justify-self: flex-start;
        grid-column: 1/2;
        grid-row: 2/3;
        justify-content: flex-start;
    }
    .fiber__laser__info__container{
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .fiber__features__container{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .fiber__laser__container{
        width: 100vw;
    }
    .fiber__laser__img__container{
        justify-content: flex-start;
    }
    .fiber__applicable__products{
        margin-top: 2rem;
    }
}
