.product__description__container{
    padding-top: 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #000000;
    /* border:1px solid #d6d6d6; */
    width: 90%;
    justify-self: center;
}
.table__title{
    font-size: var(--title-text);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px #d1d1d1a1;
    text-align:center
}
.spacification__table{
    padding: 1rem;
    text-align: left;
    width: 100%;
    /* box-shadow: 2px 4px 8px #b1b1b1; */
}
td{
    padding: 0.5rem;
    border: 1px solid #5b5b5b;
    font-size: var(--text);
}
tr{
    background-color: transparent;
}
td:first-child{
    font-weight: 500;
    font-size: var(--text);
}

/* ----------------------- Media Query ---------------------- */

@media only screen and (max-width:550px){
    td{
        padding: 1rem;
        font-size: 16px;
        letter-spacing: 1px;
    }
    td:first-child{
        font-size: 16px;
    }
}
