@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /* letter-spacing: 1px; */
}
body{
 
  /* background: url('./assets/Frame2.svg'); */
  /* background-image: url('./assets/Frame_circle.png'); */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  font-weight: 400;

}
:root{
  --page-title-text:48px;
  --heading-text: 36px;
  --title-text: 26px;
  --subtitle-text: 20px;
  --text: 16px;
}